<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet"
         type='text/css'
         href='{{ url_for('static',filename='css/bootstrap.min.css')}}'>
      <link rel="stylesheet"
         type='text/css'
         href='{{ url_for('static',filename='css/boxicons.min.css')}}'>
      <link rel="stylesheet"
         type='text/css'
         href='{{ url_for('static',filename='css/style.css')}}'>
      <link rel="stylesheet"
         type='text/css'
            href='{{ url_for('static',filename='css/style2.css')}}'>
      <title>Weather Forecast</title>
   </head>
   
   <body data-bs-spy="scroll" data-bs-target=".navbar">
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
         <div class="container">
            <div class="header">
               <img src="{{url_for('static',filename='img/logo.png')}}" alt="" />
               <!-- <h1>My website name</h1> -->
             </div>
            <!-- <a class="navbar-brand logo-text" href="#">Weather Forecast</a> -->
               <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ms-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index')}}">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#contact">Predict</a>
                     </li>
                  </ul>
               </div>
         </div>
      </nav>
   
      <section id="contact">
         <div class="container">
            <div class="col-12 section-intro">
               <h2>Enter the respectives details to predict the weather</h2>
               <div class="hline"></div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-4">
                  <img id='change_img'
                     src="{{ url_for('static',filename=img_lo)}}"
                     alt="">
                     {% if para %}<h2 >{{ para[0] }}{{ para[1] }}</h2>{% endif %}
               </div>
               <div class="col-lg-6 offset-lg-1">
                  <form action='/predict' id='form' method = "POST">
                     <div class="form-outline">
                        <label for="pcp">Precipitation</label>
                        <input type="number"  step="0.1" ondrop="return false;" onpaste="return false;" name="pcp"  step="any" class="form-control" name="n5" 
                        onkeypress='return event.charCode>=48 && event.charCode<=57'  required/><br>
                     </div>
               
                     <div class="form-outline">
                        <label for="tmx">Maximum Temperature</label>
                        <input type="number" step="0.1" ondrop="return false;" onpaste="return false;" name="tmx"  step="any" class="form-control" name="n5" 
                        onkeypress='return event.charCode>=48 && event.charCode<=57'  required/><br>
                        <!-- <input type="float" name="tmx" step="any" class="form-control" name="n5" required/><br> -->
                     </div>
                     
                     <div class="form-outline">
                        <label for="tmn">Minimum Temperature</label>
                        <input type="number" step="0.1" ondrop="return false;" onpaste="return false;" name="tmn"  step="any" class="form-control" name="n5" 
                        onkeypress='return event.charCode>=48 && event.charCode<=57'  required/><br>
                        <!-- <input type="float" name="tmn" step="any" class="form-control" name="n5" required/><br> -->
                     </div>
                    
                     <div class="form-outline">
                        <label for="wind">Wind</label>
                        <input type="number" step="0.1" ondrop="return false;" onpaste="return false;" name="wind"  step="any" class="form-control" name="n5" 
                        onkeypress='return event.charCode>=48 && event.charCode<=57'  required/><br>
                        <!-- <input type="float" name="wind" step="any" class="form-control" name="n5" required/><br> -->
                        </div>

                       
                     <button type="submit" onclick=change() class="btn btn-brand">Predict</button>
                     <!-- {% if para %}<h2 >{{ para[0] }}{{ para[1] }}</h2>{% endif %} -->
                  </form>
               </div>
            </div>
         </div>
      </section>

      <footer>
         <div class="footer-top">
            <div class="container">
               <div class="row gy-5">
                <div class="col-md-4">
   
                 <h4 class="logo-text"> WEATHER FORECAST</h4>
                               <a href="https://www.gcit.edu.bt"><i class="bx bx-location-plus">Gyalpozhing College of Information Technology</i></a>
   
                  </div>
                  <div class="col-md-2">
                     <h5 class="title-sm">Navigation</h5>
                     <div class="footer-links">
                        <a href="{{ url_for('index')}}">Home</a>
                        <a href="#portfolio">Portfolio</a>
                        <a href="#services">About Us</a>
                        <a href="#team">Team</a>
                        <a href="{{url_for('predict')}}">Predict</a>
                     </div>
                  </div>
                  <div class="col-md-2">
                     <h5 class="title-sm">Contact</h5>
                     <div class="footer-links">
                        <a href="https://www.gcit.edu.bt/">Gyalpozhing College of Information Technology</a>
                        <!-- <a href="mb">https://www.gcit.edu.bt/</a> -->
                     </div>
                  </div>
                  <div class="col-md-2">
                     <h5 class="title-sm">Email</h5><i class="fa fa-envelope"></i>
                     <div class="footer-links">
                        <a href="mailto:kinleytshering.gcit@rub.edu.bt">  </i><i class="ti-email"> kinleytshering.gcit@rub.edu.bt</a>
                        
                        <a href="mailto:12190046.gcit@rub.edu.bt">12190046.gcit@rub.edu.bt</a>
                        </i> <i class="fa fa-envelope">  
                        <a href="mailto:12190077.gcit@rub.edu.bt">12190077.gcit@rub.edu.bt</a></i>
                         <i class="fa fa-envelope">  
                        <a href="mailto:12190080.gcit@rub.edu.bt">12190080.gcit@rub.edu.bt</a></i>
                         <i class="fa fa-envelope">  
                        <a href="mailto:12190090.gcit@rub.edu.bt">12190090.gcit@rub.edu.bt</a></i></p>
                     </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <div class="row justify-content-between gy-3">
                  <div class="col-md-6">
                     <p class="mb-0">© PRJ303 2022 GROUP 11. All rights reserved</p>
                  </div>
                  <div class="col-auto">
                     <p class="mb-0">Created by GROUP 11</p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   
      <!-- Optional JavaScript; choose one of the two! -->
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/validation.js"></script>

      <script>
         let popup = document.getElementById("popup");
 
         function openPopup() {
            popup.classList.add("open-popup");
         }
 
         function closePopup() {
            popup.classList.remove("open-popup");
         }
     </script>
     <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function () {
         'use strict'
 
         // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.querySelectorAll('.needs-validation')
 
             // Loop over them and prevent submission
             Array.prototype.slice.call(forms)
             .forEach(function (form) {
                 form.addEventListener('submit', function (event) {
                     if (!form.checkValidity()) {
                         event.preventDefault()
                         event.stopPropagation()
                     }
                     form.classList.add('was-validated')
                 }, false)
             })
         })()
     </script>
   </body>
</html>
